<header class="header">

    <div class="spiderhead"> <span class="span">S</span>TUDENT       <span class="span">O</span>RGANISER</div>
    <a href="/Logout" class="logout">LOGOUT</a>

    

</header>   